@media screen and (max-width: 600px) { /* mobile */
    .About-page-container {
        display: flex;
        flex-direction: column; 
        
        margin-bottom: 2rem;
    }

    .Bio-title {
        font-size: 2rem;
        font-family: nunito-sans, sans-serif;
        font-style: normal;
        font-weight: 400;
    }
}

@media only screen and (min-width: 600px) { /* tablet */
    .About-page-container {
        display: flex;
        flex-direction: row;  
    }

    .About-photo-container {
        height: 100%;
        width: 50%;
    }

    .About-bio-container {
        width: 50%;
    }

    .Bio-title {
        font-size: 2.4rem;
        font-family: nunito-sans, sans-serif;
        font-style: normal;
        font-weight: 400;
    }
}

@media only screen and (min-width: 768px) { /* desktop */
    .About-page-container {
        display: flex;
        flex-direction: row;
    }

    .About-photo-container {
        height: 100%;
        width: 50%;
    }

    .About-bio-container {
        width: 50%;

        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    .Bio-title {
        font-size: 2.4rem;
        font-family: nunito-sans, sans-serif;
        font-style: normal;
        font-weight: 400;
    }
}

/* overall layout */

.Tammy-polaroid {
    width: 100%; /* you can use % */
    height: auto;
}

.About-bio-container {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;

    color: #333333;
}

.Bio-description {
    font-size: 1.3rem;
    font-family: nunito-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.Bio-contact {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #e98888;
}

